<nav class="navbar navbar-expand-lg">
  <div class="container-fluid mx-5 p-1">
    <!-- logo -->
    <a class="navbar-brand text-light">
      <img
        src="https://i.postimg.cc/0546XKxy/Black-And-White-Illustrated-Eagle-Logo-removebg-preview.png"
        alt="Logo"
        width="40"
        height="40"
        class="d-inline-block"
      />
      <span class="fw-bolder">BlueWings</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav ms-auto mb-2 mb-lg-0"
        style="font-weight: 600; font-size: 17px"
      ></ul>
      <span class="nav-item ms-auto" id="btn">
        <!-- login button
        <button routerLink="login" type="button" class="p-2 px-4 rounded fw-bolder" id="login">
          <i class="fa-solid fa-user pe-2"></i> Login
        </button> -->
      </span>
    </div>
  </div>
</nav>
