<!-- header -->
<app-navbar></app-navbar>

<!-- single view -->
<div class="container">
  <div class="row">
    <div>
      <h1 style="color: #015155; text-align: center; margin-top: 40px">
        {{ event.title }}
      </h1>
    </div>
    <div class="col-lg-6 ps-5 pe-5">
      <img
        class="img-fluid max-width-100%"
        alt="no image"
        [src]="event.image"
        style="
          margin-top: 50px;
          height: 350px;
          border-radius: 8px;
          width: 400px;
        "
      />
    </div>

    <div class="col-lg-6 p-5 mb-5">
      <div class="bg-secondary mt-5">
        <ul class="list-group mt-2 shadow bg-secondary">
          <li class="list-group-item">
            <p class="text-light fw-bold m-3">
              <span style="color: grey">Description : &nbsp;&nbsp;</span>
              <span class="text-secondary">{{ event.description }}</span>
            </p>
          </li>
          <li class="list-group-item">
            <p class="text-light fw-bold m-3">
              <span style="color: grey">Budget : </span>&nbsp;&nbsp;<span
                class="text-secondary"
                >{{ event.price }}</span
              >
            </p>
          </li>
        </ul>
      </div>
      <button
        class="text-center mt-3 ps-5 pe-5 pt-3 pb-3 text-light fw-bolder"
        style="background-color: #015155; border-radius: 3px; width: 100%"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
      >
        Book Now
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <app-model></app-model>
</div>
