<!-- header -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid mx-5 p-1">
    <!-- logo -->
    <a class="navbar-brand text-light" routerLink="">
      <img
        src="https://i.postimg.cc/0546XKxy/Black-And-White-Illustrated-Eagle-Logo-removebg-preview.png"
        alt="Logo"
        width="40"
        height="40"
        class="d-inline-block"
      />
      <span class="fw-bolder">BlueWings</span>
    </a>
  </div>
</nav>

<!-- home page -->
<section>
  <div class="image">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="pt-5 mt-5">
          <h6 class="fw-bold pt-5 text-center" style="color: rgb(72, 72, 96)">
            YOUR PERFECT EVENT ORGANIZER
          </h6>

          <h2 class="heading mt-2">
            <b>BLUE<span class="text-dark">WINGS</span></b>
          </h2>
          <p class="head text-light text-center">
            Make your events memorable....
          </p>

          <!-- login button -->
          <div style="display: flex; justify-content: center" class="mt-5">
            <button
              routerLink="login"
              type="button"
              class="p-2 px-4 rounded fw-bolder"
              id="login"
            >
              Explore More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- about -->
  <div class="about">
    <div>
      <div class="row mt-5 ms-5 me-5">
        <h3
          class="mt-2 text-center fw-bold pb-5"
          style="color: rgb(72, 72, 96)"
        >
          <b>ABOUT US</b>
        </h3>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <img
                src="https://media.istockphoto.com/id/995553192/photo/young-woman-holding-beautiful-red-flowers-bouquet.jpg?s=612x612&w=0&k=20&c=M5TyjQXAxrlvS7xpfewIIeUAVrmeVjuX7gg0RBMY3TI="
                alt="no image"
                style="width: 100%"
              />
            </div>
            <div class="col-lg-6">
              <p class="abt">
                We are a team of creative minds who live and breathe events who
                came together to form BlueWings Events India. Our company stands
                out for it's concepts, innovative themes and exceptional
                execution of all projects we manage. We have made a reputation
                in the market for being a passionate band of professionals who
                have expertise in every facet of the Business. We use our
                extensive expertise to deliver exceptional outcomes.
              </p>
              <br />
              <p class="icon">
                <i class="fa-solid fa-circle-check me-2"></i>Destination Wedding
              </p>
              <br />
              <p class="icon">
                <i class="fa-solid fa-circle-check me-2"></i>Wedding planner &
                Wedding Events
              </p>
              <br />
              <p class="icon">
                <i class="fa-solid fa-circle-check me-2"></i>Corporate
              </p>
              <br />
              <p class="icon">
                <i class="fa-solid fa-circle-check me-2"></i>Entertainment Shows
              </p>
              <br />
              <p class="icon">
                <i class="fa-solid fa-circle-check me-2"></i>Product Launch &
                Promo
              </p>
              <br />
            </div>
          </div>
        </div>
      </div>
      <p class="text-center mb-5">
        Our Vision: is to make Your precious moments more memorable.
      </p>
    </div>
  </div>

  <!-- services -->
  <div class="do bg-dark">
    <div class="row mt-3 ms-5 me-5">
      <div class="col-lg-6">
        <div>
          <h3 class="mt-5 fw-bold text-center" style="color: #015155">
            <b>WHAT WE DO</b>
          </h3>
          <p class="text-light text-center">
            An Event Managing Company <br />
            that provides specific Services.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="">
          <p class="mt-5 pt-5 text-light text-center">
            Nothing is beautiful than memories. Let's make <br />
            your moments memorable with BlueWings <br />
            Events India.
          </p>
        </div>
      </div>
    </div>
    <hr class="text-light" />
    <div class="row ms-5 me-5 pb-5 pt-5">
      <div class="col-lg-3" routerLink="login" style="cursor: pointer">
        <img
          src="https://t4.ftcdn.net/jpg/04/95/86/81/360_F_495868188_SXLra1pxRuOr9Y0O7HUicZP4np3ZYJPS.jpg"
          alt="no image"
          width="325px"
        />
        <h4 class="mt-1 text-center text-light"><b>Corporate Events</b></h4>
      </div>
      <div class="col-lg-3" routerLink="login" style="cursor: pointer">
        <img
          src="https://www.grandweddings.co.in/wp-content/uploads/2020/01/Wedding-Event.jpg"
          alt="no image"
          width="325px"
        />
        <h4 class="mt-1 text-center text-light"><b>Wedding Events</b></h4>
      </div>
      <div class="col-lg-3" routerLink="login" style="cursor: pointer">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH0IobWtU47KOqyJ-NQEewIBOcCKgJBI7rbjtnT0Q34numwt8tnAuABC8eMgHo-w5Q3CA&usqp=CAU"
          alt="no image"
          width="325px"
        />
        <h4 class="mt-1 text-center text-light"><b>Social Events</b></h4>
      </div>
      <div class="col-lg-3" routerLink="login" style="cursor: pointer">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwaA8j3JXCUJK6s0E139bWxzBDGcLkBaAaZBUycCpQo-9_9JZf99E2r7QQrTKS7qyNNmk&usqp=CAU"
          alt="no image"
          width="325px"
        />
        <h4 class="mt-1 text-center text-light"><b>Entertainment Events</b></h4>
      </div>
    </div>

    <div class="row mt-3 ms-5 me-5 pb-5 mb-5">
      <div class="col-lg-3" routerLink="login" style="cursor: pointer">
        <img
          src="https://www.varmalla.com/wp-content/uploads/2023/11/103587-weddingnama3.jpeg"
          alt="no image"
          width="325px"
        />
        <h4 class="mt-1 text-center text-light"><b>Destination Weddings</b></h4>
      </div>
      <div class="col-lg-3" routerLink="login" style="cursor: pointer">
        <img
          src="https://www.bizzabo.com/wp-content/uploads/2018/11/3686-1024x683.jpg"
          alt="no image"
          width="325px"
        />
        <h4 class="mt-1 text-center text-light"><b>Product Launches</b></h4>
      </div>
      <div class="col-lg-3" routerLink="login" style="cursor: pointer">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSboW-Bb2ZBE1mb25ULupj7TCf0dfWAXi0lRQ_JbETweVCabZxg8XmvAKzPLgnZLq7FLh8&usqp=CAU"
          alt="no image"
          width="325px"
        />
        <h4 class="mt-1 text-center text-light"><b>Exhibitions</b></h4>
      </div>
      <div class="col-lg-3" routerLink="login" style="cursor: pointer">
        <img
          src="https://orlandosydney.com/wp-content/uploads/2022/02/Gala-Dinner-Photo-ICC-Sydney.-Photography-by-orlandosydney.com-OS2_6053.jpg"
          alt="no image"
          width="325px"
        />
        <h4 class="mt-1 text-center text-light"><b>Custom Made Events</b></h4>
      </div>
    </div>
  </div>

  <div class="row mt-5 ms-5 me-5">
    <h3 class="fw-bold text-center" style="color: #015155">
      <b>COMPLETED STORIES!</b>
    </h3>
    <p class="text-dark text-center">
      WE MAKE AWESOME CONTRIBUTIONS TO OUR CLIENTS. <br />
      CHECK SOME OF OUR COUNTERS.
    </p>

    <div class="container-fluid">
      <div class="ms-3 me-3 mt-4">
        <div class="row">
          <div class="col-lg-3">
            <h1
              class="fw-bold text-center"
              style="color: #015155; font-size: 100px"
            >
              <b>94 +</b>
            </h1>
            <p class="text-dark text-center">Wedding Events</p>
          </div>
          <div class="col-lg-3">
            <h1
              class="fw-bold text-center"
              style="color: #015155; font-size: 100px"
            >
              <b>543 +</b>
            </h1>
            <p class="text-dark text-center">Happy Customers</p>
          </div>
          <div class="col-lg-3">
            <h1
              class="fw-bold text-center"
              style="color: #015155; font-size: 100px"
            >
              <b>20 +</b>
            </h1>
            <p class="text-dark text-center">Destination Wedding</p>
          </div>
          <div class="col-lg-3">
            <h1
              class="fw-bold text-center"
              style="color: #015155; font-size: 100px"
            >
              <b>294 +</b>
            </h1>
            <p class="text-dark text-center">Corporate Events</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- parallax -->
  <main>
    <section class="parallax">
      <div class="parallax-content">
        <h2 class="fw-bold">ARE YOU READY?</h2>
        <p class="fw-bold">
          LET'S MAKE SOMETHING AMAZING <br />
          TOGETHER
        </p>
      </div>
    </section>
  </main>

  <!-- review -->
  <div class="mt-5 mb-5 ps-2 pb-5">
    <h1 class="fw-bold text-center mb-5" style="color: #015155">
      Hear It from Our Customers
    </h1>

    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div
              class="my-box col-lg-3 col-md-6 text-light text-center mb-4 me-4 p-5"
            >
              <p>
                "Having used discount toner cartridge for twenty years, there
                have been a lot of changes in the toner cartridge market."
              </p>
              <h5 class="fw-bold">Leon Rivera</h5>
            </div>
            <div
              class="my-box col-lg-3 col-md-6 text-light text-center mb-4 me-4 p-5"
            >
              <p>
                "Amazing experience i loved it a lot. Thanks to the team that
                dreams come true, great! I really appreciate their professional
                approach."
              </p>
              <h5 class="fw-bold">Rosetta Kelley</h5>
            </div>
            <div
              class="my-box col-lg-3 col-md-6 text-light text-center mb-4 p-5 me-4"
            >
              <p>
                "As one of the well known event management companies in Kerala,
                we've been using BlueWings Events India for years. Every
                assignment they take is an event to remember."
              </p>
              <h5 class="fw-bold">Sutherland Global Services</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div
              class="my-box col-lg-3 col-md-6 text-light text-center mb-4 me-4 p-5"
            >
              <p>
                "Thank you very sincerely for the expert services done over
                numerous events. Your attention to detail for making the
                smallest of events meeting my every approval is to reiterate the
                reality."
              </p>
              <h5 class="fw-bold">DLF Builders</h5>
            </div>
            <div
              class="my-box col-lg-3 col-md-6 text-light text-center mb-4 me-4 p-5"
            >
              <p>
                "Thank you so much for all your hard work, flexibility
                anddiligence to make our wedding a memorable affair."
              </p>
              <h5 class="fw-bold">Mona & Krtishna</h5>
            </div>
            <div
              class="my-box col-lg-3 col-md-6 text-light text-center mb-4 me-4 p-5"
            >
              <p>
                "Right from the initial meeting, we find BlueWings Events to be
                very organized. Thank you for your services"
              </p>
              <h5 class="fw-bold">Medicity</h5>
            </div>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon bg-dark"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleRide"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon bg-dark"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
